/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09_a/nbproject/private/
/WebApplication09_a/build/
/WebApplication09_a/dist/
/WebApplication10/nbproject/private/
/WebApplication10/build/
/WebApplication10_Redo/nbproject/private/
/WebApplication10_Redo/build/
/WebApplication11/nbproject/private/
/WebApplication_01/build/
/WebApplication_01/nbproject/private/
/WebApplication11/build/
/WebApplicationTotal/nbproject/private/
/WebApplicationTotal/build/
/WebApplication_Total/nbproject/private/
/WebApplication_Total/build/
/WebApplication_Total/dist/
/WebApplication_Total_02/nbproject/private/
/WebApplication_Total_02/build/
/WebApplication12/nbproject/private/
/WebApplication12/build/
/Workshop1/nbproject/private/
/Workshop1/build/
/WebApplication13/nbproject/private/
/WebApplication13_a/nbproject/private/
/WebApplication13_a/build/
/WebApplication13_b/nbproject/private/