/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09_a/nbproject/private/
/WebApplication09_a/build/
/WebApplication09_a/dist/
/WebApplication10/nbproject/private/
/WebApplication10/build/
/WebApplication10_Redo/nbproject/private/
/WebApplication10_Redo/build/