/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09_a/nbproject/private/
/WebApplication09_a/build/
/WebApplication09_a/dist/
/WebApplication10/nbproject/private/
/WebApplication10/build/
/WebApplication10_Redo/nbproject/private/
/WebApplication10_Redo/build/
/WebApplication11/nbproject/private/
/WebApplication_01/build/
/WebApplication_01/nbproject/private/
/WebApplication11/build/
/WebApplicationTotal/nbproject/private/
/WebApplicationTotal/build/
/WebApplication_Total/nbproject/private/
/WebApplication_Total/build/
/WebApplication_Total/dist/
/WebApplication_Total_02/nbproject/private/
/WebApplication_Total_02/build/
/WebApplication12/nbproject/private/
/WebApplication12/build/
/Workshop1/nbproject/private/
/Workshop1/build/
/WebApplication13/nbproject/private/
/WebApplication13_a/nbproject/private/
/WebApplication13_a/build/
/WebApplication13_b/nbproject/private/
/WebApplication13_b/build/
/Workshop1Test/nbproject/private/
/Workshop1_01/nbproject/private/
/Workshop1_01/build/
/WebApplication13/build/
/WebApplication13_b/dist/
/Workshop1/dist/
/WebApplication14/nbproject/private/
/WebApplication14/build/
/Workshop1_Error/nbproject/private/
/Workshop1_Error/build/
/WebApplication_Assignment/nbproject/private/
/WebApplication_Assignment/build/
/WebApplication_Assignment_test/nbproject/private/
/WebApplication_Assignment_test/build/
/WebApplication15/nbproject/private/
/WebApplication15/build/
/WebApplication15_fix/nbproject/private/
/WebApplication15_fix/build/
/Workshop2/nbproject/private/
/Workshop2/build/
/WebApplication16/nbproject/private/
/WebApplication16/build/
/WebApplication16_b/nbproject/private/
/WebApplication16_b/build/
/Assigment_BanHang/nbproject/private/
/Assigment_BanHang/build/
/Assigment_BanHang/dist/
/WebApplication16_c/nbproject/private/
/WebApplication16_c/build/
/WebApplication17/nbproject/private/
/WebApplication17/build/